node_modules/
coverage/
packages/ubiquity/db/
packages/ubiquity/avatars/*
!packages/ubiquity/avatars/.gitkeep

!.editorconfig
!.gitignore
!.travis.yml

bundle.js
browserify.js
npm-debug.log
lerna-debug.log
yarn.lock
